.navbar {
    justify-content: space-between;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.phone-number {
    margin-right: auto;
}
.phone-number:hover{
    color: rgb(68, 68, 68);
}
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}